// app global css in SCSS form

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.blitz-field {
    padding: 10px;
    margin-bottom: 20px;
    // background-color: #efefef99;
    // border-radius: 5px;
}

.blitz-field__error {
    display: none;
}

.text-smaller {
    font-size: smaller
}