// app global css in SCSS form

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.blitz-field__error {
    display: none;
}

.text-smaller {
    font-size: smaller
}